[package]
name = "easy-sql"
version = "0.1.0"
edition = "2024"

[dependencies]
sqlx = { version = "0.8", features = ["runtime-tokio", "uuid", "sqlite"] }
anyhow = "1"
easy-macros = { path = "../easy-macros", features = ["general"] }


[dev-dependencies]
lazy_static = "*"

[features]
backend = ["sqlx/postgres"]
frontend = ["sqlx/sqlite"]
