CompilationData(
    tables: {},
    used_table_names: {
        "case_function_test_table": [
            TableNameData(
                filename: "src/tests/general/macros/sql_case_insensitive_functions.rs",
                struct_name: "CaseFunctionTestTable",
            ),
        ],
        "comments_table": [
            TableNameData(
                filename: "src/tests/general/macros/table_join.rs",
                struct_name: "CommentsTable",
            ),
        ],
        "compile_fail_table": [
            TableNameData(
                filename: "src/tests/general/macros/custom_select_compile_fail.rs",
                struct_name: "CompileFailTable",
            ),
        ],
        "custom_func_test_table": [
            TableNameData(
                filename: "src/tests/general/macros/custom_sql_functions.rs",
                struct_name: "CustomFuncTestTable",
            ),
        ],
        "custom_select_table": [
            TableNameData(
                filename: "src/tests/general/macros/custom_select.rs",
                struct_name: "CustomSelectTable",
            ),
        ],
        "example_table": [
            TableNameData(
                filename: "src/tests/general/impl_macros/query.rs",
                struct_name: "ExampleTable",
            ),
        ],
        "example_table_query_lazy": [
            TableNameData(
                filename: "src/tests/general/impl_macros/query_lazy.rs",
                struct_name: "ExampleTable",
            ),
        ],
        "expr_test_table": [
            TableNameData(
                filename: "src/tests/general/macros/mod.rs",
                struct_name: "ExprTestTable",
            ),
        ],
        "function_test_table": [
            TableNameData(
                filename: "src/tests/general/macros/sql_functions_working.rs",
                struct_name: "FunctionTestTable",
            ),
        ],
        "nullable_table": [
            TableNameData(
                filename: "src/tests/general/macros/sql_functions_working.rs",
                struct_name: "NullableTable",
            ),
        ],
        "numeric_test_table": [
            TableNameData(
                filename: "src/tests/general/macros/mod.rs",
                struct_name: "NumericTestTable",
            ),
        ],
        "output_columns_test_table": [
            TableNameData(
                filename: "src/tests/general/macros/output_columns_in_custom_select_test.rs",
                struct_name: "OutputColumnsTestTable",
            ),
        ],
        "posts_table": [
            TableNameData(
                filename: "src/tests/general/macros/table_join.rs",
                struct_name: "PostsTable",
            ),
        ],
        "profiles_table": [
            TableNameData(
                filename: "src/tests/general/macros/table_join.rs",
                struct_name: "ProfilesTable",
            ),
        ],
        "related_test_table": [
            TableNameData(
                filename: "src/tests/general/macros/mod.rs",
                struct_name: "RelatedTestTable",
            ),
        ],
        "users_table": [
            TableNameData(
                filename: "src/tests/general/macros/table_join.rs",
                struct_name: "UsersTable",
            ),
        ],
        "validation_test_table": [
            TableNameData(
                filename: "src/tests/general/macros/custom_select_validation_test.rs",
                struct_name: "ValidationTestTable",
            ),
        ],
    },
    default_drivers: [
        "crate::Postgres",
    ],
)