CompilationData(
    tables: {
        "43af18d0-f056-4b18-9958-3fadb41e4334": TableData(
            saved_versions: {
                2: TableDataVersion(
                    table_name: "doc_comments",
                    fields: [
                        TableField(
                            name: "id",
                            ty_to_bytes: false,
                            field_type: "i32",
                            default: None,
                            is_unique: false,
                        ),
                        TableField(
                            name: "post_id",
                            ty_to_bytes: false,
                            field_type: "i32",
                            default: None,
                            is_unique: false,
                        ),
                        TableField(
                            name: "body",
                            ty_to_bytes: false,
                            field_type: "String",
                            default: None,
                            is_unique: false,
                        ),
                    ],
                    primary_keys: [
                        "id",
                    ],
                    auto_increment: true,
                    foreign_keys: {
                        "PostTable,cascade": [
                            "post_id",
                        ],
                    },
                ),
            },
            latest_version: 2,
        ),
        "9e0ab3c7-2e5d-4f13-b6d8-7c8ea17a3cf2": TableData(
            saved_versions: {
                1: TableDataVersion(
                    table_name: "migration_test_table",
                    fields: [
                        TableField(
                            name: "id",
                            ty_to_bytes: false,
                            field_type: "i32",
                            default: None,
                            is_unique: false,
                        ),
                        TableField(
                            name: "name",
                            ty_to_bytes: false,
                            field_type: "String",
                            default: None,
                            is_unique: false,
                        ),
                    ],
                    primary_keys: [
                        "id",
                    ],
                    auto_increment: true,
                    foreign_keys: {},
                ),
                2: TableDataVersion(
                    table_name: "migration_test_table",
                    fields: [
                        TableField(
                            name: "id",
                            ty_to_bytes: false,
                            field_type: "i32",
                            default: None,
                            is_unique: false,
                        ),
                        TableField(
                            name: "name",
                            ty_to_bytes: false,
                            field_type: "String",
                            default: None,
                            is_unique: false,
                        ),
                        TableField(
                            name: "age",
                            ty_to_bytes: false,
                            field_type: "i32",
                            default: Some("0"),
                            is_unique: false,
                        ),
                    ],
                    primary_keys: [
                        "id",
                    ],
                    auto_increment: true,
                    foreign_keys: {},
                ),
                3: TableDataVersion(
                    table_name: "migration_test_table",
                    fields: [
                        TableField(
                            name: "id",
                            ty_to_bytes: false,
                            field_type: "i32",
                            default: None,
                            is_unique: false,
                        ),
                        TableField(
                            name: "name",
                            ty_to_bytes: false,
                            field_type: "String",
                            default: None,
                            is_unique: false,
                        ),
                        TableField(
                            name: "age",
                            ty_to_bytes: false,
                            field_type: "i32",
                            default: Some("0"),
                            is_unique: false,
                        ),
                        TableField(
                            name: "score",
                            ty_to_bytes: false,
                            field_type: "i32",
                            default: Some("100"),
                            is_unique: false,
                        ),
                    ],
                    primary_keys: [
                        "id",
                    ],
                    auto_increment: true,
                    foreign_keys: {},
                ),
                4: TableDataVersion(
                    table_name: "migration_test_table",
                    fields: [
                        TableField(
                            name: "id",
                            ty_to_bytes: false,
                            field_type: "i32",
                            default: None,
                            is_unique: false,
                        ),
                        TableField(
                            name: "full_name",
                            ty_to_bytes: false,
                            field_type: "String",
                            default: None,
                            is_unique: false,
                        ),
                        TableField(
                            name: "age",
                            ty_to_bytes: false,
                            field_type: "i32",
                            default: Some("0"),
                            is_unique: false,
                        ),
                        TableField(
                            name: "score",
                            ty_to_bytes: false,
                            field_type: "i32",
                            default: Some("100"),
                            is_unique: false,
                        ),
                    ],
                    primary_keys: [
                        "id",
                    ],
                    auto_increment: true,
                    foreign_keys: {},
                ),
                5: TableDataVersion(
                    table_name: "migration_test_table_renamed",
                    fields: [
                        TableField(
                            name: "id",
                            ty_to_bytes: false,
                            field_type: "i32",
                            default: None,
                            is_unique: false,
                        ),
                        TableField(
                            name: "full_name",
                            ty_to_bytes: false,
                            field_type: "String",
                            default: None,
                            is_unique: false,
                        ),
                        TableField(
                            name: "age",
                            ty_to_bytes: false,
                            field_type: "i32",
                            default: Some("0"),
                            is_unique: false,
                        ),
                        TableField(
                            name: "score",
                            ty_to_bytes: false,
                            field_type: "i32",
                            default: Some("100"),
                            is_unique: false,
                        ),
                    ],
                    primary_keys: [
                        "id",
                    ],
                    auto_increment: true,
                    foreign_keys: {},
                ),
                6: TableDataVersion(
                    table_name: "migration_test_table_renamed",
                    fields: [
                        TableField(
                            name: "id",
                            ty_to_bytes: false,
                            field_type: "i32",
                            default: None,
                            is_unique: false,
                        ),
                        TableField(
                            name: "full_name",
                            ty_to_bytes: false,
                            field_type: "String",
                            default: None,
                            is_unique: false,
                        ),
                        TableField(
                            name: "age",
                            ty_to_bytes: false,
                            field_type: "i32",
                            default: Some("0"),
                            is_unique: false,
                        ),
                        TableField(
                            name: "score",
                            ty_to_bytes: false,
                            field_type: "i32",
                            default: Some("100"),
                            is_unique: false,
                        ),
                        TableField(
                            name: "nickname",
                            ty_to_bytes: false,
                            field_type: "Option<String>",
                            default: None,
                            is_unique: false,
                        ),
                    ],
                    primary_keys: [
                        "id",
                    ],
                    auto_increment: true,
                    foreign_keys: {},
                ),
            },
            latest_version: 6,
        ),
    },
    used_table_names: {},
    default_drivers: [],
)